*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color:#bf5f39 ;
    padding:20px;
}
header > h1{
    color:#e9f2f1;
    text-align: center;
    font-size:bold;
}

body{
    background-color:#21024a;
    color:white;
}

.scbrd{
    border : 3px solid white;
    width:180px;
    margin: 20px auto;
    font-size: 50px;
    padding :20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.bd{
    background-color:red;
    font-size: 16px;
    
}

#usleb{
    position:absolute;
    top: 40px;
    left:-28px;
    padding:2px 10px;
}

#coleb{
    position:absolute;
    top: 40px;
    right:-32px;
    padding: 2px 10px;
}