*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color:whitesmoke;
    padding:20px;
}
header > h1{
    color:#0a0121;
    text-align: center;
    font-size:bold;
}

body{
    background-color:#040114;
    color:white;
}

.scbrd{
    border : 3px solid white;
    width:180px;
    margin: 20px auto;
    font-size: 50px;
    padding :20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.bd{
    background-color:red;
    font-size: 16px;
    
}

#usleb{
    position:absolute;
    top: 40px;
    left:-28px;
    padding:2px 10px;
}

#coleb{
    position:absolute;
    top: 40px;
    right:-32px;
    padding: 2px 10px;
}

.result{
    font-size: 40px;
    text-align: center;
    color:aqua;
}

.stcho{
    text-align: center;
    margin:35px;
}


i{
    display: inline-block;
    color:#f5d15d;
    margin: 0 20px;
    border: 4px solid white;
    border-radius: 49%;
    padding:20px ;
    transition: all 0.3s ease;
}

i:hover{
    cursor: pointer;
    background-color: #070124;
    
}

.beg{
    font-size: 35px;
    text-align: center;
}
